Repository facebookresearch/fairo: changes, and which Codecov flags are due for each by the changed paths.
All: locobot, craftassist, dashboard

codecov.yml:

fixes:
    - "/shared/::"
ignore:
      - "*.pkl"
      - "*.npy"
      - "*.ini"
      - "*.js"
codecov:
  token: "6cff57e1-08ce-4d98-8f28-63797d90107f"
  bot: "codecov-io"
  notify:
    require_ci_to_pass: no

coverage:
  status:
    project:
      default: off
      locobot:
        flags: 
          - locobot
      craftassist:
        flags: 
          - craftassist
      dashboard:
        flags: 
          - dashboard

flags:
  # filter the folder(s) you wish to measure by that flag
  locobot:
    paths:
      - locobot/agent/
  craftassist:
    paths:
      - craftassist/agent/
  dashboard:
    paths:
      - dldashboard/web

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

Revert "showing object masks on dashboard (#464)" (#472)
  droidlet/dashboard/web/src/components/LiveObjects.js
  droidlet/perception/robot/handlers/detector.py
  requirements.txt
Due: none

jsonified data and removed print statement
  agents/craftassist/craftassist_agent.py
  agents/loco_mc_agent.py
  droidlet/memory/sql_memory.py
Due: none

update state manager
  dldashboard/web/src/StateManager.js
Due: dashboard

debugging information
  base_agent/loco_mc_agent.py
Due: none

cleaned up logging
  base_agent/loco_mc_agent.py
  dldashboard/web/src/StateManager.js
Due: dashboard

Update run with agent script to upload job configs JSON
  craftassist/servermgr/run.withagent.sh
  crowdsourcing/servermgr/run.withagent.sh
Due: none

Add worker context to URL query params (#474)
  droidlet/tools/crowdsourcing/droidlet_static_html_task/server_files/craftassist_task.html
Due: none

Discard url params, get url from window
  dldashboard/web/src/StateManager.js
Due: dashboard

upgrade pytorch version
  requirements.txt
Due: none

Remove unused components for mephisto
  dldashboard/web/src/MainPane.js
  dldashboard/web/src/components/VoxelWorld/VoxelWorld.js
  dldashboard/web/src/index.js
Due: dashboard

Added VoxelJS dashboard renderer
  dldashboard/web/public/VoxelWorld/myWorld.js
  dldashboard/web/public/VoxelWorld/world.html
  dldashboard/web/src/StateManager.js
  dldashboard/web/src/components/VoxelWorld/VoxelWorld.js
  dldashboard/web/src/components/VoxelWorld/api.js
  dldashboard/web/src/components/VoxelWorld/blockmap.js
  dldashboard/web/src/components/VoxelWorld/package.json
  dldashboard/web/src/components/VoxelWorld/world.js
  dldashboard/web/src/index.js
Due: dashboard

Added backend changes
  craftassist/agent/craftassist_agent.py
Due: craftassist

manually fix conflict
  craftassist/agent/craftassist_agent.py
Due: craftassist

change pytorch to 1.4.0
  requirements.txt
Due: none

Added VoxelJS dashboard renderer
  dldashboard/web/src/StateManager.js
Due: dashboard

Manually remove repeated content due to multiple rebase
  craftassist/agent/craftassist_agent.py
Due: craftassist

change torch version == to >=
  requirements.txt
Due: none

Add terminateAgent handler in base agent
  base_agent/loco_mc_agent.py
Due: none

force terminate agent when dashbaord ask so
  base_agent/loco_mc_agent.py
Due: none

added info page, timer and terminateAgent hook
  dldashboard/web/src/components/Turk/TurkInfo.css
  dldashboard/web/src/components/Turk/TurkInfo.js
  dldashboard/web/src/components/Turk/theme.js
  dldashboard/web/src/index.js
Due: dashboard

Fixed agent reply in ca agent
  dldashboard/web/src/StateManager.js
  dldashboard/web/src/components/Interact/Message.js
Due: dashboard

Add agent reply hook in craftassist agent
  craftassist/agent/craftassist_agent.py
Due: craftassist

Added more turk friendly instructions
  dldashboard/web/src/components/Interact/Message.js
  dldashboard/web/src/components/Turk/TurkInfo.js
  dldashboard/web/src/components/VoxelWorld/VoxelWorld.js
Due: dashboard

Update NSP checksum for model release (#280)
  tools/data_scripts/default_checksums/nsp.txt
Due: none

remove no longer used sql query list (#281)
  base_agent/sql_memory.py
Due: none

Changed UI for mephisto dashboard
  dldashboard/web/src/components/Interact/Message.js
  dldashboard/web/src/components/Turk/TurkInfo.js
  dldashboard/web/src/components/VoxelWorld/VoxelWorld.js
  dldashboard/web/src/index.js
Due: dashboard

Add mcdashboard port env var to dockerfile
  tools/docker/Dockerfile
Due: none

Add turk id identification in dashboard
  dldashboard/web/src/StateManager.js
  dldashboard/web/src/components/Turk/TurkInfo.js
Due: dashboard
