Repository facebookresearch/fairo: changes, and which Codecov flags are due for each by the changed paths.
All: locobot, craftassist, dashboard

codecov.yml:

fixes:
    - "/shared/::"
ignore:
      - "*.pkl"
      - "*.npy"
      - "*.ini"
      - "*.js"
codecov:
  token: "6cff57e1-08ce-4d98-8f28-63797d90107f"
  bot: "codecov-io"
  notify:
    require_ci_to_pass: no

coverage:
  status:
    project:
      default: off
      locobot:
        flags: 
          - locobot
      craftassist:
        flags: 
          - craftassist
      dashboard:
        flags: 
          - dashboard

flags:
  # filter the folder(s) you wish to measure by that flag
  locobot:
    paths:
      - locobot/agent/
  craftassist:
    paths:
      - craftassist/agent/
  dashboard:
    paths:
      - dldashboard/web

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

move gflags and glog cmake helpers
  droidlet/lowlevel/minecraft/client/CMakeLists.txt
  droidlet/lowlevel/minecraft/client/cmake/Modules/FindGFlags.cmake
  droidlet/lowlevel/minecraft/client/cmake/Modules/FindGlog.cmake
Due: none

Move coref_resolve test
  droidlet/dialog/craftassist/tests/__init__.py
  droidlet/dialog/craftassist/tests/test_coref_resolve.py
Due: none

Move craftassist requirement.txt to agents/craftassist
  agents/craftassist/requirements.txt
Due: none

Move more to craftassist dialog tests
  droidlet/dialog/craftassist/tests/test_validate_dataset.py
  droidlet/dialog/craftassist/tests/validate_json.py
  droidlet/dialog/droidlet_nsp_model_wrapper.py
  droidlet/lowlevel/minecraft/tests/__init__.py
  droidlet/lowlevel/minecraft/tests/test_size_words.py
Due: none

More dialogue tests move
  droidlet/dialog/craftassist/tests/test_dialogue_object_utils.py
  droidlet/dialog/craftassist/tests/test_greeting.py
  droidlet/dialog/craftassist/tests/test_safety.py
  droidlet/dialog/craftassist/tests/test_with_model.py
  droidlet/dialog/craftassist/tests/test_y_print_parsing_report.py
Due: none

Move craftassist tests to interpreter
  droidlet/interpreter/craftassist/tests/__init__.py
  droidlet/interpreter/craftassist/tests/test_conditions.py
  droidlet/interpreter/craftassist/tests/test_interpreter.py
  droidlet/interpreter/craftassist/tests/test_undo.py
Due: none

Move submodules to correct places
  .gitmodules
Due: none

fix circleci for new craftassist folder structure
  .circleci/config.yml
  .circleci/craftassist_tests.sh
  .circleci/locobot_tests.sh
Due: none

fix asset paths in tests and add pytest ignore dirs to pyproject.toml
  droidlet/dialog/craftassist/tests/test_dialogue_manager.py
  droidlet/dialog/craftassist/tests/test_greeting.py
  droidlet/dialog/craftassist/tests/test_safety.py
  droidlet/dialog/craftassist/tests/test_validate_dataset.py
  droidlet/dialog/craftassist/tests/test_with_model.py
  droidlet/dialog/craftassist/tests/test_y_print_parsing_report.py
  droidlet/dialog/craftassist/tests/validate_json.py
  droidlet/dialog/ttad/generation_dialogues/generate_data/update_annotated_data.py
  droidlet/dialog/ttad/ttad_transformer_model/train_model.py
  droidlet/lowlevel/minecraft/Makefile
  droidlet/lowlevel/minecraft/client/CMakeLists.txt
  pyproject.toml
Due: none

fix dockerfile paths for new craftassist folder structure
  tools/docker/Dockerfile
  tools/docker/Dockerfile.client
Due: none

executable permissions for .circleci/craftassist_tests.sh
  .circleci/craftassist_tests.sh
Due: none

upgrade cmake in docker image
  tools/docker/Dockerfile
Due: none

more minor cmake fixes
  droidlet/lowlevel/minecraft/client/cmake/Modules/Findgflags.cmake
  droidlet/lowlevel/minecraft/client/cmake/Modules/Findglog.cmake
Due: none

cmake changes
  droidlet/lowlevel/minecraft/client/CMakeLists.txt
  droidlet/lowlevel/minecraft/client/cmake/Modules/Findgflags.cmake
  droidlet/lowlevel/minecraft/client/cmake/Modules/Findglog.cmake
Due: none

change black and linter paths to remove craftassist directory
  pyproject.toml
  tools/codetools/autoformat_py_style.sh
  tools/codetools/check_and_fix_black_failures.sh
  tools/codetools/check_typing.sh
Due: none

remove mcdeploy.key in the docker images, get ccache working
  tools/docker/Dockerfile
Due: none

shorten
  locobot/README.md
  locobot/robot/launch_pyro_habitat.sh
Due: none

Handle out of scope dances (#369)
  base_agent/loco_mc_agent.py
  craftassist/agent/dialogue_objects/mc_interpreter.py
Due: craftassist

Replace space with tab
  droidlet/lowlevel/minecraft/Makefile
Due: none

Add instructions including error markinig (#426)
  crowdsourcing/droidlet_static_html_task/server_files/craftassist_task.html
Due: none

Use custom transformers modules
  base_agent/ttad/ttad_transformer_model/decoder_with_loss.py
  base_agent/ttad/ttad_transformer_model/model_output.py
  base_agent/ttad/ttad_transformer_model/modeling_bert.py
Due: none

add a single expert layer
  base_agent/ttad/ttad_transformer_model/modeling_bert.py
Due: none

explore v1
  locobot/agent/default_behaviors.py
  locobot/agent/locobot_mover_utils.py
  locobot/agent/perception/perception.py
  locobot/agent/tasks.py
Due: locobot

tasks
  locobot/agent/tasks.py
Due: locobot

nit
  locobot/agent/tasks.py
Due: locobot

nits
  locobot/agent/default_behaviors.py
  locobot/agent/locobot_mover_utils.py
  locobot/agent/tasks.py
Due: locobot

cleanup'
  locobot/robot/launch_pyro_habitat.sh
Due: none

Create masks for expert layers
  base_agent/ttad/ttad_transformer_model/decoder_with_loss.py
  base_agent/ttad/ttad_transformer_model/encoder_decoder.py
  base_agent/ttad/ttad_transformer_model/modeling_bert.py
Due: none

frl4
  locobot/frl4.gif
Due: none

refacted mobileIndex to a separate file
  dldashboard/web/src/MainPane.js
  dldashboard/web/src/MobileIndex.js
  dldashboard/web/src/components/Memory2D.js
  dldashboard/web/src/index.js
Due: dashboard

basic mobile responsiveness
  dldashboard/web/package.json
  dldashboard/web/src/MainPane.js
  dldashboard/web/src/StateManager.js
  dldashboard/web/src/components/History.js
  dldashboard/web/src/components/LiveImage.js
  dldashboard/web/src/components/Memory2D.js
  dldashboard/web/src/index.js
  dldashboard/web/yarn.lock
Due: dashboard

code cleanup
  dldashboard/web/src/MobileIndex.js
  dldashboard/web/src/StateManager.js
  dldashboard/web/src/components/History.js
  dldashboard/web/src/components/LiveImage.js
  dldashboard/web/src/index.js
Due: dashboard

added new Timeline pane
  dldashboard/web/src/components/Timeline.js
  dldashboard/web/src/index.js
Due: dashboard
