Repository facebookresearch/fairo: changes, and which Codecov flags are due for each by the changed paths.
All: locobot, craftassist, dashboard

codecov.yml:

fixes:
    - "/shared/::"
ignore:
      - "*.pkl"
      - "*.npy"
      - "*.ini"
      - "*.js"
codecov:
  token: "6cff57e1-08ce-4d98-8f28-63797d90107f"
  bot: "codecov-io"
  notify:
    require_ci_to_pass: no

coverage:
  status:
    project:
      default: off
      locobot:
        flags: 
          - locobot
      craftassist:
        flags: 
          - craftassist
      dashboard:
        flags: 
          - dashboard

flags:
  # filter the folder(s) you wish to measure by that flag
  locobot:
    paths:
      - locobot/agent/
  craftassist:
    paths:
      - craftassist/agent/
  dashboard:
    paths:
      - dldashboard/web

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

Update unit test to check safety
  craftassist/test/test_safety.py
Due: none

Fix merge conflict
  base_agent/nsp_dialogue_manager.py
Due: none

Remove safety check from datasets
  tools/data_scripts/default_checksums/datasets.txt
Due: none

Correct gitignore paths
  .gitignore
Due: none

Fixed spacy and model version
  requirements.txt
Due: none

Use pkg_resources to fetch resource location
  base_agent/droidlet_nsp_model_wrapper.py
Due: none

Add return_quantity ALL to selector schema
  base_agent/documents/json_schema/filters.schema.json
Due: none

Add debug mode to parse tree validation to avoid misleading error logs in unit tests
  base_agent/droidlet_nsp_model_wrapper.py
  craftassist/test/test_dialogue_manager.py
  craftassist/test/validate_json.py
Due: none

Fixes after refactor for training script
  base_agent/ttad/ttad_transformer_model/caip_dataset.py
  base_agent/ttad/ttad_transformer_model/decoder_with_loss.py
  base_agent/ttad/ttad_transformer_model/train_model.py
  base_agent/ttad/ttad_transformer_model/utils_caip.py
  base_agent/ttad/ttad_transformer_model/utils_parsing.py
  tools/nsp_scripts/generate_configs_for_sweeps.py
Due: none

[AutoComplete] Create basic Templates Tool using Autocomplete (#350)
  tools/annotation_tools/template_tool/backend/package-lock.json
  tools/annotation_tools/template_tool/backend/package.json
  tools/annotation_tools/template_tool/backend/routes/readAndSaveToFile.js
  tools/annotation_tools/template_tool/backend/templates_autocomplete.json
  tools/annotation_tools/template_tool/frontend/.eslintrc.json
  tools/annotation_tools/template_tool/frontend/package.json
  tools/annotation_tools/template_tool/frontend/src/autoComplete.js
  tools/annotation_tools/template_tool/frontend/src/listComponent.js
  tools/annotation_tools/template_tool/frontend/src/logicalForm.js
  tools/annotation_tools/template_tool/frontend/src/templateObject.js
  tools/annotation_tools/template_tool/frontend/src/textCommand.js
  tools/data_processing/autocomplete_postprocess.py
Due: none

Move repeat alls to be inside return_quantity (#368)
  base_agent/documents/logical_form_specification/filters.md
  base_agent/test/all_test_commands.py
  tools/data_scripts/default_checksums/datasets.txt
  tools/nsp_scripts/data_processing_scripts/post_processing_code_mods/code_mod_repeat_all_refactor.py
  tools/nsp_scripts/data_processing_scripts/post_processing_code_mods/code_mod_repeat_in_action.py
  tools/nsp_scripts/data_processing_scripts/post_processing_code_mods/code_mod_repeat_in_filters.py
Due: none

Add return quantity "ALL" in selectors to schema (#375)
  base_agent/documents/json_schema/filters.schema.json
Due: none

Add debug mode to parse tree validation to avoid misleading error logs in unit tests (#376)
  base_agent/droidlet_nsp_model_wrapper.py
  craftassist/test/test_dialogue_manager.py
  craftassist/test/validate_json.py
Due: none

[Hack session] Create protected s3 endpoint for secured assets (#311)
  .gitignore
  base_agent/droidlet_nsp_model_wrapper.py
  craftassist/agent/craftassist_agent.py
  craftassist/test/test_safety.py
  requirements.txt
  tools/data_scripts/default_checksums/datasets.txt
  tools/data_scripts/fetch_internal_resources.py
  tools/data_scripts/try_download.sh
Due: craftassist

Save error details to NSP CSV
  base_agent/nsp_dialogue_manager.py
  dldashboard/web/src/components/Interact/Question.js
Due: dashboard

Log errors to a different stream
  base_agent/nsp_dialogue_manager.py
Due: none

make locobot_agent work with this new directory structure
  agents/locobot/locobot_agent.py
  base_agent/droidlet_nsp_model_wrapper.py
  base_agent/loco_mc_agent.py
  droidlet/dialog/dialogue_objects/get_memory_handler.py
  droidlet/dialog/dialogue_objects/loco_interpreter.py
  droidlet/dldashboard/__init__.py
  droidlet/interpreter/dance.py
  droidlet/interpreter/default_behaviors.py
  droidlet/interpreter/tasks.py
  droidlet/lowlevel/locobot_mover.py
  droidlet/lowlevel/locobot_mover_utils.py
  droidlet/memory/loco_memory.py
  droidlet/perception/handlers/core.py
  droidlet/perception/handlers/deduplicater.py
  droidlet/perception/handlers/detector.py
  droidlet/perception/handlers/human_pose.py
  droidlet/perception/handlers/memory.py
  droidlet/perception/perception.py
  tools/data_scripts/try_download.sh
Due: none

move locobot/remote to lowlevel
  droidlet/lowlevel/locobot/remote/__init__.py
  droidlet/lowlevel/locobot/remote/grasp_samplers/__init__.py
  droidlet/lowlevel/locobot/remote/grasp_samplers/deeper_models.py
  droidlet/lowlevel/locobot/remote/grasp_samplers/grasp.py
  droidlet/lowlevel/locobot/remote/grasp_samplers/grasp_model.py
  droidlet/lowlevel/locobot/remote/grasp_samplers/grasp_object.py
  droidlet/lowlevel/locobot/remote/grasp_samplers/grasp_predictor.py
  droidlet/lowlevel/locobot/remote/habitat_utils.py
  droidlet/lowlevel/locobot/remote/launch_pyro.sh
  droidlet/lowlevel/locobot/remote/launch_pyro_habitat.sh
  droidlet/lowlevel/locobot/remote/remote_locobot.py
  droidlet/lowlevel/locobot/remote/slam_pkg/README.md
  droidlet/lowlevel/locobot/remote/slam_pkg/__init__.py
  droidlet/lowlevel/locobot/remote/slam_pkg/slam.py
  droidlet/lowlevel/locobot/remote/slam_pkg/utils/__init__.py
  droidlet/lowlevel/locobot/remote/slam_pkg/utils/depth_util.py
  droidlet/lowlevel/locobot/remote/slam_pkg/utils/fmm_planner.py
  droidlet/lowlevel/locobot/remote/slam_pkg/utils/locobot_bumper_checker.py
  droidlet/lowlevel/locobot/remote/slam_pkg/utils/map_builder.py
  locobot/robot/slam_pkg/utils/__init__.py
Due: none

droidlet.dlevent -> droidlet.event
  base_agent/droidlet_nsp_model_wrapper.py
  base_agent/loco_mc_agent.py
  craftassist/agent/craftassist_agent.py
  droidlet/dldashboard/__init__.py
  droidlet/event/README.md
  droidlet/event/__init__.py
  droidlet/event/dispatcher.py
  droidlet/event/license.txt
  droidlet/event/tests/__init__.py
  droidlet/perception/handlers/memory.py
  droidlet/perception/perception.py
Due: craftassist

fixes after base_agent move
  .gitignore
  agents/__init__.py
  agents/locobot/locobot_agent.py
  craftassist/agent/dialogue_objects/get_memory_handler.py
  droidlet/dashboard/web/.gitignore
  droidlet/dashboard/web/yarn.lock
  droidlet/dialog/dialogue_model.py
  droidlet/dialog/robot/dialogue_objects/get_memory_handler.py
  locobot/README.md
  tools/data_scripts/fetch_aws_datasets.sh
  tools/data_scripts/fetch_aws_models.sh
Due: craftassist

fix craftassist tests after base_agent move
  agents/locobot/locobot_agent.py
  craftassist/agent/craftassist_agent.py
  craftassist/agent/default_behaviors.py
  craftassist/agent/mc_memory.py
  craftassist/test/base_craftassist_test_case.py
  craftassist/test/fake_agent.py
  craftassist/test/fake_mobs.py
  craftassist/test/test_agent.py
  craftassist/test/test_conditions.py
  craftassist/test/test_coref_resolve.py
  craftassist/test/test_dialogue_manager.py
  craftassist/test/test_dialogue_object_utils.py
  craftassist/test/test_filters.py
  craftassist/test/test_get_memory.py
  craftassist/test/test_greeting.py
  craftassist/test/test_interpreter.py
  craftassist/test/test_memory.py
  craftassist/test/test_put_memory.py
  craftassist/test/test_safety.py
  craftassist/test/test_undo.py
  craftassist/test/test_validate_dataset.py
  craftassist/test/test_with_model.py
  craftassist/test/test_y_print_parsing_report.py
  craftassist/test/world.py
  droidlet/dialog/droidlet_nsp_model_wrapper.py
Due: craftassist

fix circleci tests
  .circleci/locobot_tests.sh
Due: none

small fix in locobot after rebase
  droidlet/memory/robot/tests/test_memory.py
Due: none

fix craftassist tests
  craftassist/agent/craftassist_agent.py
  craftassist/test/base_craftassist_test_case.py
  craftassist/test/fake_agent.py
  craftassist/test/test_filters.py
  craftassist/test/test_safety.py
  droidlet/dialog/droidlet_nsp_model_wrapper.py
Due: craftassist

Update base for Update on "move some craftassist files into droidlet"
  craftassist/agent/mc_memory.py
  tools/docker/Dockerfile
Due: craftassist

Update on "fix craftassist tests"
  craftassist/agent/mc_memory.py
  tools/docker/Dockerfile
Due: craftassist

move minecraft_specs -> specs
  droidlet/lowlevel/minecraft/specs.py
Due: none

move more files from craftassist to droidlet/*
  droidlet/dialog/craftassist/dialogue_objects/block_helpers.py
  droidlet/memory/craftassist/mc_memory.py
  droidlet/memory/craftassist/mc_memory_nodes.py
  droidlet/perception/craftassist/heuristic_perception.py
Due: none

change some base_agent references
  .flake8
  craftassist/test/validate_json.py
  docs/source/controller.md
  docs/source/memory.md
  tools/codetools/autoformat_py_style.sh
  tools/codetools/check_and_fix_black_failures.sh
  tools/codetools/check_flake8_failures.sh
  tools/data_scripts/try_download.sh
  tools/nsp_scripts/data_processing_scripts/remove_static_valid_commands.py
Due: none

Update base for Update on "fix circleci tests"
  .flake8
  craftassist/test/validate_json.py
  docs/source/controller.md
  docs/source/memory.md
  tools/codetools/autoformat_py_style.sh
  tools/codetools/check_and_fix_black_failures.sh
  tools/codetools/check_flake8_failures.sh
  tools/data_scripts/try_download.sh
  tools/nsp_scripts/data_processing_scripts/remove_static_valid_commands.py
Due: none

Update base for Update on "small fix in locobot after rebase"
  .flake8
  craftassist/test/validate_json.py
  docs/source/controller.md
  docs/source/memory.md
  tools/codetools/autoformat_py_style.sh
  tools/codetools/check_and_fix_black_failures.sh
  tools/codetools/check_flake8_failures.sh
  tools/data_scripts/try_download.sh
  tools/nsp_scripts/data_processing_scripts/remove_static_valid_commands.py
Due: none

Update base for Update on "move some craftassist files into droidlet"
  .flake8
  craftassist/test/validate_json.py
  docs/source/controller.md
  docs/source/memory.md
  tools/codetools/autoformat_py_style.sh
  tools/codetools/check_and_fix_black_failures.sh
  tools/codetools/check_flake8_failures.sh
  tools/data_scripts/try_download.sh
  tools/nsp_scripts/data_processing_scripts/remove_static_valid_commands.py
Due: none

Update base for Update on "move more craftassist files into droidlet/"
  .flake8
  craftassist/test/validate_json.py
  docs/source/controller.md
  docs/source/memory.md
  tools/codetools/autoformat_py_style.sh
  tools/codetools/check_and_fix_black_failures.sh
  tools/codetools/check_flake8_failures.sh
  tools/data_scripts/try_download.sh
  tools/nsp_scripts/data_processing_scripts/remove_static_valid_commands.py
Due: none

Update base for Update on "fix craftassist tests"
  .flake8
  craftassist/test/validate_json.py
  docs/source/controller.md
  docs/source/memory.md
  tools/codetools/autoformat_py_style.sh
  tools/codetools/check_and_fix_black_failures.sh
  tools/codetools/check_flake8_failures.sh
  tools/data_scripts/try_download.sh
  tools/nsp_scripts/data_processing_scripts/remove_static_valid_commands.py
Due: none
