Repository facebookresearch/fairo: changes, and which Codecov flags are due for each by the changed paths.
All: locobot, craftassist, dashboard

codecov.yml:

fixes:
    - "/shared/::"
ignore:
      - "*.pkl"
      - "*.npy"
      - "*.ini"
      - "*.js"
codecov:
  token: "6cff57e1-08ce-4d98-8f28-63797d90107f"
  bot: "codecov-io"
  notify:
    require_ci_to_pass: no

coverage:
  status:
    project:
      default: off
      locobot:
        flags: 
          - locobot
      craftassist:
        flags: 
          - craftassist
      dashboard:
        flags: 
          - dashboard

flags:
  # filter the folder(s) you wish to measure by that flag
  locobot:
    paths:
      - locobot/agent/
  craftassist:
    paths:
      - craftassist/agent/
  dashboard:
    paths:
      - dldashboard/web

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

trigger build
  random.txt
Due: none

robustify heuristic perception in craftassist agent (#331)
  craftassist/agent/heuristic_perception.py
Due: craftassist

init draft
  base_agent/base_memory_schema.sql
  locobot/agent/loco_memory_nodes.py
  locobot/agent/perception/handlers/core.py
Due: locobot

pt transform
  locobot/agent/perception/handlers/core.py
Due: locobot

req
  locobot/requirements.txt
Due: none

commenting out test_handlers in ci
  .circleci/locobot_tests.sh
Due: none

version updates
  locobot/requirements.txt
  requirements.txt
Due: none

test handlers
  .circleci/locobot_tests.sh
Due: none

cu110
  locobot/requirements.txt
  requirements.txt
Due: none

conda instructions
  README.md
Due: none

simplify
  requirements.txt
Due: none

d2
  locobot/requirements.txt
Due: none

Create custom examine results script
  crowdsourcing/droidlet_static_html_task/examine_results.py
Due: none

fr
  .circleci/locobot_tests.sh
Due: none

Set task name in hydra config to examine results
  crowdsourcing/droidlet_static_html_task/conf/example.yaml
Due: none

Delete instance pool round robin cloudflare IP creation
  crowdsourcing/servermgr/app.py
Due: none

Add reminder to Turk instructions about session recording (#330)
  crowdsourcing/droidlet_static_html_task/server_files/craftassist_task.html
Due: none

req
  locobot/requirements.txt
  requirements.txt
Due: none

correcting numbering
  README.md
Due: none

conda env instructions (#335)
  README.md
Due: none

Approve tasks with Mephisto CLI (#336)
  crowdsourcing/droidlet_static_html_task/conf/example.yaml
  crowdsourcing/droidlet_static_html_task/examine_results.py
  crowdsourcing/servermgr/app.py
Due: none

save
  locobot/agent/tasks.py
Due: locobot

Added debug_mode flag in args
  base_agent/argument_parser.py
  base_agent/loco_mc_agent.py
Due: none

fix dig bug
  base_agent/test/all_test_commands.py
  craftassist/agent/dialogue_objects/mc_interpreter.py
  craftassist/agent/tasks.py
  craftassist/test/test_interpreter.py
Due: craftassist

rename debug_mode to agent_debug_mode
  base_agent/argument_parser.py
  base_agent/loco_mc_agent.py
Due: none

fixes
  locobot/agent/dance.py
  locobot/agent/loco_memory.py
  locobot/agent/objects.py
  locobot/agent/tasks.py
  locobot/requirements.txt
Due: locobot

comms
  locobot/agent/perception/handlers/deduplicater.py
Due: locobot

setup.py
  README.md
Due: none

conda env
  README.md
Due: none

formatting
  README.md
Due: none

import
  locobot/agent/objects.py
  locobot/agent/tasks.py
Due: locobot

Cleaning up locobot setup (#345)
  README.md
  locobot/agent/dance.py
  locobot/agent/loco_memory.py
  locobot/agent/objects.py
  locobot/agent/perception/handlers/deduplicater.py
  locobot/agent/tasks.py
  locobot/requirements.txt
Due: locobot

fix dig bug (#343)
  base_agent/test/all_test_commands.py
  craftassist/agent/dialogue_objects/mc_interpreter.py
  craftassist/agent/tasks.py
  craftassist/test/test_interpreter.py
Due: craftassist

moving to DetectedObjectFeatures
  base_agent/base_memory_schema.sql
  locobot/agent/loco_memory_nodes.py
  locobot/agent/loco_memory_schema.sql
  locobot/agent/perception/handlers/core.py
Due: locobot

list comprehnsion
  locobot/agent/perception/handlers/core.py
Due: locobot

Update parsing report logical forms
  craftassist/test/test_y_print_parsing_report.py
  tools/annotation_tools/template_tool/AUTOCOMPLETE_README.md
  tools/data_scripts/default_checksums/datasets.txt
Due: none

update datasets checksum
  tools/data_scripts/default_checksums/datasets.txt
Due: none

Update Pull Request Template
  .github/pull_request_template.md
Due: none

[Datasets] Ground Truth Annotations Corrections (#347)
  craftassist/test/test_y_print_parsing_report.py
  tools/annotation_tools/template_tool/AUTOCOMPLETE_README.md
  tools/data_scripts/default_checksums/datasets.txt
Due: none

test SIO endpoint
  base_agent/nsp_dialogue_manager.py
  dldashboard/web/src/components/Interact/Question.js
Due: dashboard
