Repository facebookresearch/fairo: changes, and which Codecov flags are due for each by the changed paths.
All: locobot, craftassist, dashboard

codecov.yml:

fixes:
    - "/shared/::"
ignore:
      - "*.pkl"
      - "*.npy"
      - "*.ini"
      - "*.js"
codecov:
  token: "6cff57e1-08ce-4d98-8f28-63797d90107f"
  bot: "codecov-io"
  notify:
    require_ci_to_pass: no

coverage:
  status:
    project:
      default: off
      locobot:
        flags: 
          - locobot
      craftassist:
        flags: 
          - craftassist
      dashboard:
        flags: 
          - dashboard

flags:
  # filter the folder(s) you wish to measure by that flag
  locobot:
    paths:
      - locobot/agent/
  craftassist:
    paths:
      - craftassist/agent/
  dashboard:
    paths:
      - dldashboard/web

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

Save sample template
  tools/annotation_tools/template_tool/backend/templates_autocomplete.json
Due: none

Remove console.logs
  tools/annotation_tools/template_tool/frontend/src/logicalForm.js
Due: none

Format schema files and add OTHER and ALL to location and selector
  base_agent/documents/json_schema/action_dict_components.schema.json
  base_agent/documents/json_schema/filters.schema.json
  base_agent/documents/json_schema/grammar_spec.schema.json
  base_agent/documents/json_schema/other_dialogue.schema.json
Due: none

Update datasets checksum with new high_pri_commands annotations
  tools/data_scripts/default_checksums/datasets.txt
Due: none

Revert "Update datasets checksum with new high_pri_commands annotations"
  tools/data_scripts/default_checksums/datasets.txt
Due: none

add setup.py step to CI testing
  .circleci/config.yml
  base_agent/test/test.sh
  craftassist/test/test.sh
  locobot/test.sh
Due: none

Update annotated.txt with corrected annotations
  tools/data_scripts/default_checksums/datasets.txt
Due: none

Update checksum with annotated.txt updates
  tools/data_scripts/default_checksums/datasets.txt
Due: none

vectorization
  locobot/agent/perception/handlers/core.py
  locobot/agent/perception/handlers/human_pose.py
  locobot/test/test_memory.py
Due: locobot

conv
  locobot/agent/perception/handlers/core.py
Due: locobot

format
  locobot/test/utils.py
Due: none

delete geoscorer
  craftassist/agent/voxel_models/geoscorer.py
  craftassist/agent/voxel_models/geoscorer/README.md
  craftassist/agent/voxel_models/geoscorer/combined_dataset.py
  craftassist/agent/voxel_models/geoscorer/config_maker.py
  craftassist/agent/voxel_models/geoscorer/dataset_configs/all_datasets_base.json
  craftassist/agent/voxel_models/geoscorer/dataset_configs/all_good_split.json
  craftassist/agent/voxel_models/geoscorer/dataset_configs/glue_cubes_size3_with_flat_ground.json
  craftassist/agent/voxel_models/geoscorer/dataset_configs/shape_prod.json
  craftassist/agent/voxel_models/geoscorer/directional_utils.py
  craftassist/agent/voxel_models/geoscorer/eval_model.py
  craftassist/agent/voxel_models/geoscorer/geoscorer_wrapper.py
  craftassist/agent/voxel_models/geoscorer/inst_seg_dataset.py
  craftassist/agent/voxel_models/geoscorer/models.py
  craftassist/agent/voxel_models/geoscorer/shape_dataset.py
  craftassist/agent/voxel_models/geoscorer/spatial_utils.py
  craftassist/agent/voxel_models/geoscorer/train_spatial_emb.py
  craftassist/agent/voxel_models/geoscorer/training_utils.py
  craftassist/agent/voxel_models/geoscorer/visualization_utils.py
Due: craftassist

making dslam the default
  base_agent/argument_parser.py
  locobot/agent/locobot_agent.py
  locobot/agent/locobot_mover.py
Due: locobot

fix memory exist ref obj get memory q's
  base_agent/dialogue_objects/get_memory_handler.py
Due: none

Update spec docs with OTHER and ALL changes
  base_agent/documents/logical_form_specification/filters.md
  base_agent/documents/logical_form_specification/human_give_command.md
Due: none

Adding 3D bounding boxes for locobot detections (#333)
  locobot/agent/loco_memory_nodes.py
  locobot/agent/loco_memory_schema.sql
  locobot/agent/perception/handlers/core.py
  locobot/agent/perception/handlers/human_pose.py
  locobot/requirements.txt
  locobot/test/test_memory.py
  locobot/test/utils.py
Due: locobot

working explore
  locobot/agent/locobot_mover_utils.py
  locobot/agent/tasks.py
Due: locobot

fix broken random selectors, add tests
  base_agent/dialogue_objects/filter_helper.py
  base_agent/memory_filters.py
  base_agent/test/all_test_commands.py
  craftassist/test/test_filters.py
Due: none

save state
  locobot/agent/locobot_mover.py
  locobot/agent/tasks.py
Due: locobot

remove unused import
  base_agent/dialogue_objects/filter_helper.py
Due: none

fix memory exist ref obj get memory q's (#361)
  base_agent/dialogue_objects/get_memory_handler.py
Due: none

fix broken random selectors, add tests (#364)
  base_agent/dialogue_objects/filter_helper.py
  base_agent/memory_filters.py
  base_agent/test/all_test_commands.py
  craftassist/test/test_filters.py
Due: none

making dslam the default (#360)
  base_agent/argument_parser.py
  locobot/agent/locobot_agent.py
  locobot/agent/locobot_mover.py
Due: locobot

fixing relative link
  base_agent/memory.MD
Due: none

fixing relative link (#366)
  base_agent/memory.MD
Due: none

[Datasets] Update annotated.txt with corrected annotations (#357)
  base_agent/documents/json_schema/action_dict_components.schema.json
  base_agent/documents/json_schema/filters.schema.json
  base_agent/documents/json_schema/grammar_spec.schema.json
  base_agent/documents/json_schema/other_dialogue.schema.json
  base_agent/documents/logical_form_specification/filters.md
  base_agent/documents/logical_form_specification/human_give_command.md
  tools/data_scripts/default_checksums/datasets.txt
Due: none

Updating spec with repeat all change
  base_agent/documents/logical_form_specification/filters.md
Due: none

fixing up tests with repeat all change
  base_agent/test/all_test_commands.py
Due: none

adding new checksum
  tools/data_scripts/default_checksums/datasets.txt
Due: none

Adding codemod scripts for the change
  tools/nsp_scripts/data_processing_scripts/post_processing_code_mods/code_mod_repeat_all_refactor.py
  tools/nsp_scripts/data_processing_scripts/post_processing_code_mods/code_mod_repeat_in_action.py
  tools/nsp_scripts/data_processing_scripts/post_processing_code_mods/code_mod_repeat_in_filters.py
Due: none

draft for frontier explore
  base_agent/argument_parser.py
  base_agent/loco_mc_agent.py
  dldashboard/web/src/StateManager.js
  dldashboard/web/src/components/Memory2D.js
  dldashboard/web/yarn.lock
  locobot/agent/default_behaviors.py
  locobot/agent/locobot_mover_utils.py
  locobot/agent/tasks.py
Due: locobot, dashboard

Fixed spacy and model version
  requirements.txt
Due: none

Added debug_mode flag in args (#344)
  base_agent/argument_parser.py
  base_agent/loco_mc_agent.py
Due: none

Fix NSP initialization in safety unit test
  craftassist/test/test_safety.py
Due: none

Fix safety words loading bug
  base_agent/droidlet_nsp_model_wrapper.py
  base_agent/nsp_dialogue_manager.py
Due: none
